{% extends "base.html" %}

{% block content %}
{% load static %}




<div class="container rounded shadow mt-5 w-75 secondary">
    <div class="d-flex justify-content-center mt-3">
        <h1 class="display-1 border-bottom pb-3">About the project</h1>
        </div>

    <div class="d-flex justify-content-center mt-3">
            <img class="rounded mx-auto d-block w-50 h-50" src="../../static/images/mario.png">
    </div>

    <div class="d-flex justify-content-center mt-3 mb-5">
        <p class="w-50">This is just a small side project From me (Zane ThummBorst) To learn and pick up Django.I wanted to make a project
        related to something I was casually interested in and found a nice python Package that acted as a wrapper to a baseball
        API. I have a couple of ideas to continue on based on what the package is capable of, and I am currently working on adding bootstrap
        to the rest of the pages/ make everything look consistent in the frontend. This project also makes use of smaller techs like JQuery, whitenoise,
            and JSON files(to be converted into a noSQL DB).
        </p>
    </div>
</div>


{% endblock content %}