<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link fw-bold" href="http://127.0.0.1:8000/search/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li>
          <a class="nav-link fw-bold" href="#">Lineups</a>
      </li>
      <li>
        <a class="nav-link fw-bold" href="http://127.0.0.1:8000/about/">About</a>
      </li>
      <li><a class="nav-link fw-bold" href="http://127.0.0.1:8000/compare/">Compare</a></li>
    </ul>
  </div>
</nav>



    <div class="container mt-5">
    <div class="d-flex justify-content-center mt-3">
        <p class="display-1"> Coming Eventually </p>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <img class ="rounded w-75 h-75" src="../../static/images/comingSoon.jpg">
    </div>
    </div>

<div class="container-fluid mt-5 pt-5 border-bottom w-75"></div>
<div class="container-fluid">
  <footer class="pt-2 my-md-5 pt-md-3 mx-auto w-50 bg-muted">
    <div class="row">
    <div class="col-3 col-md">
      <p class="h5 fw-bold">Product Creator</p>
      <ul class="list-unstyled">
        <li>Zane ThummBorst</li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <p class="h5 fw-bold">Features</p>
      <ul class="list-unstyled">
        <li><a class="text-muted text-decoration-none" href="#">Player Search</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Team Lineups</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Boxscores</a></li>
        <li><a class="text-muted text-decoration-none" href="#">League Leaders</a></li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <p class="h5 fw-bold">Resources</p>
      <ul class="list-unstyled">
        <li><a class="text-muted text-decoration-none" href="#">TechStack</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Bootstrap</a></li>
        <li><a class="text-muted text-decoration-none" href="#">API(s)</a></li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <p class="h5 fw-bold">About</p>
      <ul class="list-unstyled">
        <li><a class="text-muted text-decoration-none" href="#">Project</a></li>
        <li><a class="text-muted text-decoration-none" href="#">Developer</a></li>
      </ul>
  </div>
  </div>
  </footer>
</div>




</body>
</html>