<!DOCTYPE html>
<html>
{% load static %}
<head>
     <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>

    <div class="topnav">
      <a href="http://127.0.0.1:8000/search/">Home</a>
      <a href="http://127.0.0.1:8000/compare/">Compare</a>
      <a href="http://127.0.0.1:8000/about/">About</a>
      <a class="active" href="http://127.0.0.1:8000/FAQ/">FAQ</a>
        <a href="#settings" class="gear">&#9881;</a>
    </div>
    <h1> Maintained and extended during refactoring, Nothing so far!</h1>
</body>
</html>