{% extends "base.html" %}

{% block content %}




    <div class="container mt-5 w-50 border shadow-sm bg-light rounded">
        <div class="container d-flex justify-content-center mt-3"><p class="display-1 border-bottom"> UH OH </p></div>
        <div class="container d-flex justify-content-center mt-3">
            <p class="h3 text-center">The player you searched up is currently unavailable for stats. This can happen for a few reasons:</p>
        </div>
        <div class="container d-flex justify-content-center mt-3">
            <ol>
            <li>The player you searched up is not playing in the current season (Work in progress so that all player stats available in all seasons)</li>
            <li>Players injured are made invisible to the API and cannot have their stats shown</li>
            <li>Pitching stats are WIP!</li>
            <li>The player you searched simply does not exist in the API period.</li>
        </ol>
        </div>
        <div class="container d-flex justify-content-center my-3">
         <p class="h2 text-center">Many of these issues are being worked on, but not all of them can be resolved easily (namely player injury).</p>
        </div>
    </div>


{% endblock content %}