{% extends "base.html" %}

{% block content %}




    <div class="container mt-5 w-50 shadow-sm secondary rounded">
        <div class="container d-flex justify-content-center mt-3"><p class="display-1 border-bottom"> UH OH </p></div>
        <div class="container d-flex justify-content-center mt-3">
            <p class="h3 text-center">The player you searched up is currently unavailable for stats. This can happen for a few reasons:</p>
        </div>
        <div class="container d-flex justify-content-center mt-3">
            <ol>
            <li>Players injured are made invisible to the API and cannot have their stats shown</li>
            <li>The player you are searching for may not be active this season, which can be a result of them being DFA'd or sent down to minor leagues</li>
            <li>The player you are searching for may not exist or has not been added to the player pool yet.</li>
            <li>You made a typo  :-)</li>
        </ol>
        </div>
    </div>


{% endblock content %}