{% extends "base.html" %}

{% block content %}


<div class="container d-flex justify-content-center mt-3">
    <p class="display-1 border-bottom border-3 text-center">On Base</p>
</div>
<div class="container d-flex justify-content-center text-center mt-4">
    <p class="display-5">Search for players:</p>
</div>

<div class="container d-flex d-flex justify-content-center mt-3">
  <form action="/player/" method = "post">
    {% csrf_token %}
    <div class="input-group">
    <input class = "search h1 rounded" type="text" id="tags" name="tags">
    <script>
    $(function () {
        var availableTags = [
        {% for name in data %}
            "{{name}}",
        {% endfor %}
    ];

    $("#tags").autocomplete({
        source: availableTags
    });
    } );
  </script>
    <select class="form-select ms-2" id="year" name="year">
           {% for num in year %}
                    <option>{{num}}</option>
            {% endfor %}
    </select>
    <select class="form-select" id="stat" name="stat">
            <option>Hitting</option>
            <option>Pitching</option>
    </select>
    <input class = "submit h1 btn btn-secondary mx-2 rounded" type="submit" value="Submit">
  </div>
  </form>
  </div>
{% endblock content %}
