{% extends "base.html" %}

{% block content %}




<div class="container d-flex justify-content-center mt-3">
    <p class="display-1 border-bottom border-3 text-center">Roster Search</p>
</div>
<div class="container d-flex justify-content-center text-center mt-4">
    <p class="display-5">Search for a Team:</p>
</div>

<div class="container d-flex d-flex justify-content-center mt-3">
  <form action="/roster_info/" method = "POST">
    {% csrf_token %}
    <div class="input-group">
    <input class = "search h1 rounded" type="text" id="tags" name="tags">
    <script>
    $(function () {
        var availableTags = [
        {% for name in data %}
            "{{name}}",
        {% endfor %}
    ];
    $("#tags").autocomplete({
        source: availableTags
    });
    } );
  </script>
    <input class = "submit h1 btn btn-secondary btn-lg" type="submit" value="Submit">
  </div>
  </form>
  </div>
{% endblock content %}

