{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="mx-auto w-50 shadow-sm mt-3 secondary rounded">
  <div class = 'container d-flex justify-content-center mt-1'>
    <p class="display-3 border-bottom border-3 pb-2 fw-bold">The {{team}}</p>
  </div>

  <div class = 'container d-flex justify-content-center mt-1'>
    <img class="w-50 h-50"  src="{% static 'images/'|add:team|add:'.png' %}" alt="{{ team }}">
  </div>
  <div class = 'container d-flex justify-content-center my-3'>
    <ul class="list-group h4 text-left mb-3">
        <li class="list-group-item tertiary">Division Rank: {{ record.div_rank }}</li>
        <li class="list-group-item tertiary"> Win/Loss: {{ record.w }} / {{ record.l }} </li>
        <li class="list-group-item tertiary"> League Rank: {{record.league_rank }}</li>
        <li class="list-group-item tertiary"> MLB Rank: {{ record.sport_rank }}</li>
    </ul>
</div>
</div>
<div class = 'container d-flex justify-content-center mt-5'>
  <table class="table table-bordered tertiary shadow-sm w-50">
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Position</th>
            </tr>
       {% for player in lineup %}
            <tr>
                <td>{{ player.number }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.position }} </td>
            </tr>
        {% endfor %}
</table>
</div>

{% endblock content %}
