{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="border mx-auto w-50 shadow-sm mt-3">
  <div class = 'container d-flex justify-content-center mt-1'>
    <p class="display-3 border-bottom border-3 border-secondary pb-2 fw-bold">The {{team}}</p>
  </div>

  <div class = 'container d-flex justify-content-center mt-1'>
    <img class="w-50 h-50"  src="{% static 'images/'|add:team|add:'.png' %}" alt="{{ team }}">
  </div>
</div>

<div class = 'container d-flex justify-content-center mt-3'>
  <table class="table table-bordered bg-light shadow-sm w-50">
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Position</th>
            </tr>
       {% for player in lineup %}
            <tr>
                <td>{{ player.number }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.position }} </td>
            </tr>
        {% endfor %}
</table>
</div>
{% endblock content %}
